node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Local environment variable overrides
.env
.envrc
android

# Jetbrains IDE files
.idea

