name: pull_request_opened
on:
  workflow_dispatch: {}
  merge_group: {}
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  ci:
    uses: ./.github/workflows/ci.yaml # use the callable ci job to run CI checks
