name: pull_request_docs
on:
  workflow_dispatch: {}
  merge_group: {}
  pull_request:
    branches:
      - main
    paths:
      - 'docs/**'
      - '.github/ISSUE_TEMPLATE/*'

defaults:
  run:
    shell: bash

jobs:
  skip:
      runs-on: ubuntu-latest
      steps: 
        - name: skip ci
          run: echo "No need to run ci, but need to report run completion to github pr"
